# === Java ===
*.class
*.log

# Ignore le dossier de tests
src/tests/

# === Maven ===
target/
dependency-reduced-pom.xml
pom.xml


# === Eclipse ===
.classpath
.project
.settings/

# === OS ===
.DS_Store
Thumbs.db

# === IDEs ===
.idea/
*.iml
.vscode/
