# === Java ===
*.class
*.log

# === Maven ===
target/
dependency-reduced-pom.xml

# === Eclipse ===
.classpath
.project
.settings/

# === OS ===
.DS_Store
Thumbs.db

# === IDEs ===
.idea/
*.iml
.vscode/
